body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEFBFB;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#board {
  background-color: #4DA8DA;
  padding: 5px;
  border-radius: 2%;
  z-index: 2;
}

.box {
  height: 73px;
  width: 62px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  background-color: #EEFBFB;
}

.coin {
  height: 73px;
  width: 62px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  animation: drop 1s ease;
}

#info {
  color: #203647;
  font-weight: bold;
  font-size: 1.7em;
}

#reset-btn {
  color: #203647;
  border: solid #203647 5px;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1.5em;
  padding: 7px 15px 7px 15px;
  background-color: #EEFBFB;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#nav {
  background-color: #007CC7;
  padding-left: 30px;
  padding-right: 30px;
}

@keyframes drop {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}

#reset-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px #203647;
}
